<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <img class="portrait" src="/img/me.png">
        <p>This Web-App is created by Ankit Kumar Kashyap as part of Learning Nodejs.</p>
        <p>You can Write your Feedback/Comment/Suggestions</p>
        <a href="mailto:ankit.kr.ks@gmail.com">Mail us</a>
        <hr>
    </div>
    
    {{>footer}}
</body>

</html>